@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --black: #222222;
    --lightBl: #777777;
    --red: #F03D1C;
    --purple:#665fa7;
    --green: #047A6A;
    --yellow: #fbb431;
}
html{
    scroll-behavior: smooth;
}
body{
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color:var(--black);
    font-weight: 400;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--black);
}
.color-purple{
    color: var(--purple);
}
.bg-purple{
    background-color: var(--purple);
}
.bg-green{
    background-color: var(--green);
}
.bg-red{
    background-color: var(--red);
}
.bg-yellow{
    background-color: var(--yellow);
}
.action-btn .btn{
    color: white;
    border: none;
    transition: all 0.3 ease-in;
}

.f-12{
    font-size: 12px;
}
/* login register css */
.signin-form{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: 1;
}
.input-field{
    border: none;
    border-radius: 20px;
    background: rgb(245, 234, 253);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.bg-img{
    min-height:100vh;
    background: url("../image/v722-aum-31b.jpg") no-repeat;
    background-size: cover;
    background-position: center; 
}
.action-btn .btn:hover{
    background: #c5c3ec;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: black;
    border: none;
}

/* layout */
.sidebar{
    width: 250px;
    transition: width 0.3s ease;
}
aside{
    background-color: #665fa7;
    width: 250px;
    height: 100vh;
    transition: all 0.2s ease;
   
}
.search-input{
    border: none;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;  
    width: 300px;
}
.search-icon{
    right: 10px;
}

header{
    box-shadow: rgba(216, 191, 242, 0.15) 1.95px 1.95px 2.6px;
}

.sidebar.collapsed,aside.collapsed {
    width: 80px;
    overflow: hidden;
}

.sidebar .menu-list li {
    justify-content: center;
}
.task-field{
    border: none;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.add-task{
    background-color: #e6e4f5;
}
aside.collapsed .menu-list{
    margin-top: 20px;
}
aside.collapsed .menu-item{
    margin-top: 10px;
}

/* dasboard card */
.wg-chart{
    padding: 20px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}


